[submodule "themes/hugo-sustain"]
	path = themes/hugo-sustain
	url = https://github.com/suyundukov/hugo-sustain.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
